In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
#해당 웹페이지에서 표 데이터를 가져와서 저장하기
url = 'https://www.iban.com/currency-codes'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'}

country = requests.get(url, headers = header)
soup = BeautifulSoup(country.text, 'lxml') #lxml <- html보다 더 큰 트리 구조를 포함하고 있는 컴퓨팅 언어

In [36]:
#표 전체를 가져오기
table = soup.find('table', {'class' : 'table table-bordered downloads tablesorter'})
tableList = table.find_all('tr')

#표 전체 중에서 1줄, 1칸 순으로 접근하기
trList = []
for tr in tableList[1:]:
    trList.append([td.text for td in tr.find_all('td')])

In [52]:
#국가 수를 확인하기
print('처리 전 : ', len(trList))

for rows in trList: #값을 기준으로 삭제
    if 'No universal currency' == rows[1]: #찾아서 지우기
        trList.remove(rows)
        
#index를 찾아서 삭제
# for index, values in enumerate(trList): 
#     if 'No universal currency' == values[1]: #찾아서 지우기
#         del trList[index]
        
print('처리 후 : ', len(trList))

처리 전 :  269
처리 후 :  266

In [54]:
import pandas as pd

In [56]:
countryCode = pd.DataFrame(trList)
countryCode.head()

                0               1    2    3
0     AFGHANISTAN         Afghani  AFN  971
1   ÅLAND ISLANDS            Euro  EUR  978
2         ALBANIA             Lek  ALL  008
3         ALGERIA  Algerian Dinar  DZD  012
4  AMERICAN SAMOA       US Dollar  USD  840

In [62]:
countryCode.to_excel('국가코드리스트2.xlsx')